<header>
  <ul id="navigation">
    <li id="shops" class="navigation-option select">
      <%= render partial: 'location' %>
    </li>
    <li id="artisans" class="navigation-option">
      <%= render partial: 'artisans' %>
    </li>
    <li id="groceries" class="navigation-option">
      <%= render partial: 'list' %>
    </li>
  </ul>
</header>


<div id="shopsList" class="main-menu-list">
  <div class="searchbox">
    <input id="storesearch" type="search" placeholder="search ..." value="Zürich">
  </div>
  <%= link_to showmap_path do %>
    <div id="migros" class="shop">
      <div class="shop-title">
        Migros,
        <span>Limmatplatz</span>
        <span class="distance">200m</span>
      </div>
      <div class="rating">&#x2605; &#x2605; &#x2605; &#x2605;</div>
      <%= image_tag('migros_limmatplatz.jpg') %>
    </div>
  <% end %>

  <%= link_to showmap_path do %>
    <div id="coop" class="shop">
      <div class="shop-title">
        Coop,
        <span>Röntgenstrasse 20</span>
        <span class="distance">400m</span>
      </div>
      <div class="rating">&#x2605; &#x2605; &#x2605; &#x2605;</div>
      <%= image_tag('coop_rontgestrasse.jpg') %>
    </div>
  <% end %>

  <%= link_to showmap_path do %>
    <div id="denner" class="shop">
      <div class="shop-title">
        Denner,
        <span>Röntgenstrasse 20</span>
        <span class="distance">1.5km</span>
      </div>
      <div class="rating">&#x2605; &#x2605; &#x2605;</div>
      <%= image_tag('denner.jpg') %>
    </div>
  <% end %>
</div>

<div id="artisansList" class="main-menu-list">
  <div class="searchbox">
    <input id="storesearch" type="search" placeholder="search ..." value="Zürich">
  </div>

  <%= link_to showmap_path do %>
    <div id="bachmann" class="shop">
      <div class="shop-title">
        Confiserie Bachmann,
        <span>HB Zürich</span>
        <span class="distance">400m</span>
      </div>
      <div class="rating">&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</div>
      <%= image_tag('bachmann.jpg') %>
    </div>
  <% end %>

  <%= link_to showmap_path do %>
    <div id="spruengli" class="shop">
      <div class="shop-title">
        Sprüngli,
        <span>Röntgenstrasse 20</span>
        <span class="distance">1.5km</span>
      </div>
      <div class="rating">&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</div>
      <%= image_tag('sprungli.jpg') %>
    </div>
  <% end %>

  <%= link_to showmap_path do %>
    <div id="jakob" class="shop">
      <div class="shop-title">
        St. Jakob Bäckerei,
        <span>Limmatplatz</span>
        <span class="distance">200m</span>
      </div>
      <div class="rating">&#x2605; &#x2605; &#x2605;</div>
      <%= image_tag('st_jakob_bakerei.jpg') %>
    </div>
  <% end %>
</div>

<div id="groceriesList" class="main-menu-list">

  <div id="list1" class="shop">
    <div class="list-title">
      Saturday, 11/07/2015
    </div>
    <ul>
      <li>&#x2713; bread</li>
      <li>milk</li>
      <li>&#x2713; oranges</li>
      <li>&#x2713; apples</li>
      <li>&#x2713; pasta (gluten-free)</li>
      <li>&#x2713; onions</li>
      <li>tomatoes</li>
    </ul>
  </div>


  <%= 10.times do |x| %>
    <%= link_to root_path do %>
      <div id="list2" class="shop">
        <div class="list-title collapsed">
          <%= (Time.new - 3*x.days).strftime('%A, %d/%m/%Y') %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div id="findProductList" class="main-menu-list">
  <div class="searchbox">
    <input id="storesearch" type="search" placeholder="search ..." value="pasta gluten free">
  </div>

  <div id="pasta1" class="product product-detail">
    <div class="product-title">
      Pasta Barilla
    </div>
    <%= image_tag('pasta1.jpg') %>
    <div class="product-rating">&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</div>
  </div>

  <div id="pasta2" class="product product-detail">
    <div class="product-title">
      Pasta Ronzoni
    </div>
    <%= image_tag('pasta2.jpg') %>
    <div class="product-rating">&#x2605; &#x2605; &#x2605;</div>
  </div>

  <div id="pasta3" class="product product-detail">
    <div class="product-title">
      Pasta Mueller's
    </div>
    <%= image_tag('pasta3.jpg') %>
    <div class="product-rating">&#x2605; &#x2605;</div>
  </div>

  <div id="pasta4" class="product product-detail">
    <div class="product-title">
      Pasta Heartland
    </div>
    <%= image_tag('pasta4.jpg') %>
    <div class="product-rating">&#x2605; &#x2605; &#x2605; &#x2605;</div>
  </div>

  <div id="pasta1" class="product product-description">
    <div class="product-title">
      Pasta Barilla
    </div>
    <div class="product-rating">&#x2605; &#x2605; &#x2605; &#x2605; &#x2605;</div>
  </div>
</div>
