<!DOCTYPE html>
<html>
<head>
  <title>Shopassist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="applicationHeader">
  <div class="login"></div>
  <div class="navigation-menu">
    <%= image_tag('logo.png') %>
    <ul>
      <li id="groceries" class="navigation-option">My List</li>
      <li id="shops" class="navigation-option">Find Shop</li>
      <li id="findProduct" class="navigation-option">Find product</li>
      <li id="artisans" class="navigation-option">Find Artisan</li>
      <li id="online" class="navigation-option"><%= link_to 'Purchase', showmap_path %></li>
      <li id="feedback" class="navigation-option">Feedback</li>
    </ul>
  </div>
</header>

<%= yield %>

</body>
</html>
